
<!DOCTYPE html>
<html lang="en" style="--primary:rgb(95, 122, 229); --secondary:rgb(37, 33, 33); --tertiary:rgb(148, 142, 142); --quaternary:rgb(253, 253, 253);"><head>
  <script>
  if ('scrollRestoration' in history) history.scrollRestoration = 'manual';
  </script>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="/ContentBuilder/contentbuilder/contentbuilder.css" rel="stylesheet" type="text/css">
  <meta content="en_us" property="og:locale">
  <meta content="website" property="og:type">
  <meta content="all" name="robots">
  <link rel="stylesheet" media="all" href="/assets/application-e568d11454005ac1de5e6e7f1958cfb6af6c3a1425664e2f9e26a56fd65e4f10.css">
  <script src="/assets/application-1a98203eab975b6ae352357bacaea122c6b2d6afeeed7687b68443d744eb52af.js"></script>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="M35OkUMCmGamvJeU3hI2ka0B2PFePzmYCTKXahE9Dwm34+oIEqPVW3F2jdL9A1tFsrl27jQV3njf8u18V2B2xg==">
  <meta content="http://iitkgpblr.org/" property="og:url">
  <meta content="TAAB (Technology Alumni Assocation Nagpur) nurtures programmes which help bring the Alumni of IIT Kharagpur together for nation-building initiatives. We endeavor to bring alumni together for networking and leisure activities. " property="og:description">
  <meta content="TAAB (Technology Alumni Assocation Nagpur) nurtures programmes which help bring the Alumni of IIT Kharagpur together for nation-building initiatives. We endeavor to bring alumni together for networking and leisure activities. " name="description">
  <meta content="http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2Fe34eae92-6de1-47e6-f679-526a0c67f560.jpeg" property="og:image">
  <meta content="http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2Fe34eae92-6de1-47e6-f679-526a0c67f560.jpeg" name="twitter:image">
  <meta content="IIT Kharagpur Alumni Association Nagpur" property="og:site_name">
  <meta content="IIT Kharagpur Alumni Association Nagpur" property="og:title">
  <meta content="IIT Kharagpur Alumni Association Nagpur" property="og:author">
  <title>IIT Kharagpur Alumni Association Nagpur</title>
  <link href="http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F9a8f9570-fb9c-a0cb-92da-349bbd5e3c82.jpeg" rel="icon" sizes="32x32" type="image/png">
  <meta content="English" name="language">
  <script>
    var current_time = new Date();
    function createCookie(name,value,days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + value + expires + "; path=/";
    }
    createCookie('time_zone', current_time.getTimezoneOffset(), 7);
  </script>
  <script src="https://www.letsendorse.com/js/pgWidget/widget.js"></script><script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script><link rel="icon" type="image/png" href="http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F9a8f9570-fb9c-a0cb-92da-349bbd5e3c82.jpeg" sizes="32x32"></head>
  <body>
  <div id="website-content">
  <link href="https://assets.letsendorse.com/ContentBuilder/test/minimalist-basic/content.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="screen" href="/assets/template2/template2-94c33f25f9bde116581f688ad8570030e5087b6fa4fe6883e23c55708bbaa320.css">
  <link rel="stylesheet" media="screen" href="/assets/customs/new_section_text-2390fb676d04476c128208f3f5aa039db4beebe10835de40bd19b6a67d10fc8b.css">
  <link rel="stylesheet" media="screen" href="/assets/customs/new_section_text_button-fc265e28ea1db184d7666f24c2e6fcb96df9a2ba8914ecde3401f6c205457bc0.css">
  <link rel="stylesheet" media="screen" href="/assets/customs/new_section_code_block-3ab3a3129ab621b97a938cf0f531e7718df53962b59d940a9cd0e4169cf74d34.css">
  <link rel="stylesheet" media="screen" href="/assets/template2/multipage_header-a6b926faf3f2059bbbf0b46dccfb52ee568c0b795e17a89e4c5431187f0d64ee.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/home/news-c460eca3320ae296b020af0b021c6122d40c204622558f302bdb10b209205165.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/about/finance-4ff16eee2da53072d6be9029276c3d56526a51b2a59efc9d288bc89c89895ee1.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/about/certificates-ed32edec09a9c8eb0ac981c16a69cf0f73d3c011a737af5efdb3320671832462.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/about/partners-08071bf513c7a6b455f2b49ca9c7e4b382407943ce1f395499bf0ad3199d9d65.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/work/programs-f6e017afdbc3fd1fc4be5c5443945862c65916d56d66b08a171b3e3fb65256f5.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/blog/blog-fa753c504f725bf953562e3dd575a3a51b79284fb151ce5188cb329cda1a3b90.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/deals/deals-c85b6e3b3a69af993da2519a6da2c315befe1db964d3fc223b97dad066a1b898.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/impact/impact-2a1bd8805df3da7a08a459541dbe51eeafb326fb9a4b66f29a5f26a531dab75e.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/impact/updates-5838fed5e01e02c58ecb3f62563a2f744c5122f932e30193f35747726c7ef3f6.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/work/what_people_say-0205085c6385fd5eb8c2af6b8fae334da9234fad260d0d956ad07d8704c8c0d4.css">
  <link rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/lightgallery/1.3.6/css/lightgallery.min.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/gallery/gallery-3e5b1b25c56f95597d1e69dd47c67e2d280613966adc67fbb75460d52e31ed63.css">
  <link rel="stylesheet" media="screen" href="/assets/template1/joinus/career-70085382df1d0620056bd1e82bc4eefd5b0d6ebaf457999d243651b2aa1575bf.css">
  <link rel="stylesheet" media="screen" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/jquery.flexslider.min.js"></script>
  <link rel="stylesheet" media="screen" href="https://bgrins.github.io/spectrum/spectrum.css">
  <script src="https://bgrins.github.io/spectrum/spectrum.js"></script>
  <script src="/assets/template2/gallery/gal-60806ace02423a635cd351c211b10e62b5ed2e9da22c956e16df287de0106d2f.js"></script>
  <script>
    window.mainUrl = window.location.pathname;
  </script>
  <div class="template-container karla" id="sections-list">
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top sec-nav" id="mainNav" style="background: none 50% 50% / cover no-repeat scroll padding-box border-box rgb(255, 255, 255); color: rgb(95, 122, 229); margin-top: 0px !important; fill: rgb(95, 122, 229);" localstyle="background: none 50% 50% / cover no-repeat scroll padding-box border-box rgb(255, 255, 255); color: rgb(95, 122, 229); margin-top: 0px !important; fill: rgb(95, 122, 229);" globalstyle="">
  <div class="container multipage-header-child" id="multipage-header-layout-3" style="display: block;">
  <div class="navbar-header page-scroll">
  <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-3" data-toggle="collapse" type="button">
  <span class="sr-only">Toggle navigation</span>
  Menu
  <i class="fa fa-bars"></i>
  </button>
  <a class="navbar-brand page-scroll margin0 karla" href="javascript:void(0)" onclick="gotoHome(this)" style="padding: 0;">
  <img alt="Technology Alumni Association Nagpur" src="https://assets.letsendorse.com/20170129/dYKGvGMmVpXRZVCGIpo14856293005168.png">
  </a>
  </div>
  <div class="collapse navbar-collapse header-icon-center" id="bs-example-navbar-collapse-3">
  <ul class="nav navbar-nav navbar-left" id="sections-list-3" style="color: inherit !important;">
  <li class="" id="sections-list-home">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/" id="defaultOpenPage" style="color: inherit !important;">
  HOME
  </a>
  
  </li>
  <li class="" id="sections-list-about">
  <a class="active dropdown-toggle page-scroll pagelinks karla half-line" href="/about-page" id="open-about">
  ABOUT
  </a>
  
  </li>
  <li class="" id="sections-list-work">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/whatwedo-page" id="open-work" style="color: inherit !important;">WHAT WE DO</a>
  
  </li>
  <li class="" id="sections-list-impact">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/footprint-page" id="open-impact" style="color: inherit !important;">FOOTPRINT</a>
  
  </li>
  <li class="" id="sections-list-gallery">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/gallery-page" id="open-gallery" style="color: inherit !important;">GALLERY</a>
  
  </li>
  <li class="" id="sections-list-joinus">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/joinus-page" id="open-joinus" style="color: inherit !important;">JOIN US</a>
  
  </li>
  <li class="" id="sections-list-contact">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/contactus-page" id="open-contact" style="color: inherit !important;">CONTACT US</a>
  
  </li>
  <li class="" id="sections-list-donate">
  <a class="dropdown-toggle page-scroll pagelinks karla half-line" href="/giveback-page" id="open-donate" style="color: inherit !important;">GIVE BACK</a>
  
  </li>
  
  </ul>
  </div>
  </div>
  
  </nav>
  <div id="current-page" style="margin-top: 80px !important">
  <div class="currentPage" id="about">
  <div class="about-sub-sections-list" id="about-us">
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <section class="new-section-text about-us-custom-section-text-1" id="new-section-text-layout-1" style="background: rgba(0, 0, 0, 0) url(&quot;https://le-uploaded-image-bucket.s3.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/websites/2017/12/13/7c490806-31c0-4c92-8db0-410c15d6ba64.jpe&quot;) no-repeat scroll 50% 50% / cover padding-box border-box;">
  <div><h1 class="big-heading karla"><span style="background-color: rgb(95, 135, 255);"><font color="#ffffff">DEDICATED TO THE SERVICE&nbsp;</font></span></h1><h1 class="big-heading karla"><span style="background-color: rgb(95, 135, 255);"><font color="#ffffff">oF THE NATION</font></span></h1></div>
  </section>
  <section id="mission-main" style="background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box; color: rgb(37, 33, 33);">
  <div class="container mission-child current" id="mission-layout-1">
  <div class="row">
  <div class="col-lg-4 text-center">
  <h2 class="section-heading cabin lcircle">MISSION</h2>
  </div>
  <div class="col-lg-8">
  <p id="missionContent" class="karla">
  We are on a mission to bring together the common interests of knowledge harnessing and collaborations among Kgians across several batches and foster a lively collective in Nagpur, which believes in staying in touch and giving back to the service of the alma mater.
  </p>
  </div>
  </div>
  </div>
  
  </section>
  <section id="vision-main" style="background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box; color: rgb(37, 33, 33);">
  <div class="container vision-child" id="vision-layout-4">
  <div class="row">
  <div class="col-lg-4 text-center" style="float: right;">
  <h2 class="section-heading cabin lcircle">VISION</h2>
  </div>
  <div class="col-lg-8">
  <p id="visionContent" class="karla">
  We envision creation and sustenance of a cohesive network of Kgpians residing in and around the city of Nagpur, coming together for various activities and objectives, while rekindling the spirit of IIT Kharagpur across batches and generations.
  </p>
  </div>
  </div>
  </div>
  
  </section>
  <section id="approach-main" style="background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box; color: rgb(37, 33, 33);">
  <div class="container approach-child current" id="approach-layout-1">
  <div class="row">
  <div class="col-lg-4 text-center">
  <h2 class="section-heading cabin lcircle">APPROACH</h2>
  </div>
  <div class="col-lg-8">
  <p id="approachContent" class="karla">
  </p><p class="karla">The Technology Alumni Association, Nagpur, normally referred to as the TAA-B, is the Alumni Chapter for Nagpur, of the Graduates of the Indian Institute of Technology, Kharagpur.&nbsp;</p><p class="karla">TAA-B has been active for 4 decades in 0rganizing meetings and get-togethers of various types: be it networking, technical meetings, industry connects, startup-mentorship, or member networking. Our goals have been to conduct programmes for members and connect them up to industry developments, startup ideas, enable networking to help coalesce ideas and put together events that would generally enable the community to be a vibrant, active and progressive support to the members and other stakeholders.&nbsp;<br></p><p class="karla">Thus it is of deep interest to us to enable active industry and government collaboration in partnership with the IIT-Kgp, enable the planning and support of activities and causes that may be critical to nation-building initiatives in some way, either independently or in partnership with other groups and institutions. At the core of this is the support that we provide to help our alumni with their startups through mentoring and incubation, bring alumni together for networking and leisure events, and collectively form a community of alumni in Bengaluru so that we can aspire and plan for larger initiatives together. We estimate that Nagpur is home to over 4,000 KGPites and of these over 2,000 are in our mailing programme..&nbsp;</p><p class="karla">TAA-B also has a regular involvement in CSR, through its Light for Education programme. TAAB is a registered Society under Karnataka Societies Act and adheres to all statutory compliances as prescribed by the law.<br></p>
  <p class="karla"></p>
  </div>
  </div>
  </div>
  
  </section>
  <section id="hws-main" style="background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box; color: rgb(37, 33, 33);">
  <div class="container hws-child" id="hws-layout-4">
  <div class="row">
  <div class="col-lg-4 text-center" style="float: right;">
  <h2 class="section-heading cabin lcircle">OUR STORY</h2>
  </div>
  <div class="col-lg-8">
  <p id="hwsContent" class="karla">
  With its modest beginnings as an informal group, the TAAB grew to become a focused group of Kgpians coming from different walks and generations, collaborating on various events, agendas and common objectives. Soon, the founding members realized the need to formalize the structure of the body and registered it under Karnataka Societies Act as a non-profit organization.
  </p>
  </div>
  </div>
  </div>
  
  </section>
  <section id="team-main" style="background: rgba(0, 0, 0, 0) url(&quot;http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F8a9e5ea2-6b14-6969-8e0b-9f74cd675bc4.png&quot;) no-repeat scroll 50% 50% / cover padding-box border-box; color: rgb(37, 33, 33);">
  <div class="container team-child" id="team-layout-3">
  <div class="row">
  <div class="col-lg-12 text-center">
  <h2 class="section-heading cabin lcircle inherit-color">PEOPLE BEHIND</h2>
  </div>
  </div>
  <div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Dipankar ', 'Khasnabish', ' President', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/STZYdBVLcrRIshdThS15179832957934.jpg', 'Dipankar is a B. Tech of 1990 batch, Patel Hall. He works for Infosys in Business Consulting.\nLinkedIn: https://www.linkedin.com/in/dipankarkhasnabish/', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/STZYdBVLcrRIshdThS15179832957934.jpg" alt="Stzydbvlcrrishdths15179832957934">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Dipankar  Khasnabish</h4>
  <p class="text-muted karla"> President</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Varadarajan ', 'Seshamani ', ' Immediate Past President', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/KacPEZGIozDSLHrkwKuw15179829333576.jpg', 'Varadarajan is a B Tech from 1969 batch, Nehru Hall. He is the Director, Engineering Resources Group &amp; ISA Impex Pvt Ltd.', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/KacPEZGIozDSLHrkwKuw15179829333576.jpg" alt="Kacpezgiozdslhrkwkuw15179829333576">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Varadarajan  Seshamani </h4>
  <p class="text-muted karla"> Immediate Past President</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Madhumita ', 'Agrawal', ' Secretary', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/MJrhitPtTqbZzUQXPhb15179828312180.jpg', 'Madhumita is LLB of 2012 batch, RLB Hall. She is Co-Founder IPexcel Services &amp; Partner Djuris &amp; Associates\nLinkedIn: https://www.linkedin.com/in/madhumita-agrawal-46839b65/', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/MJrhitPtTqbZzUQXPhb15179828312180.jpg" alt="Mjrhitpttqbzzuqxphb15179828312180">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Madhumita  Agrawal</h4>
  <p class="text-muted karla"> Secretary</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Kirti ', 'Acharya', ' Treasurer', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/gRlJjswYHoJDkumdTahr15179827826039.jpg', 'Kirti is a B. Tech of 1976 batch, R.P. Hall. He is the Owner - Founder at Assk Enterprises.\nLinkedIn: https://www.linkedin.com/in/kirtiacharya/', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/gRlJjswYHoJDkumdTahr15179827826039.jpg" alt="Grljjswyhojdkumdtahr15179827826039">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Kirti  Acharya</h4>
  <p class="text-muted karla"> Treasurer</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Kolluru ', 'Krishan', ' Director Special Projects', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/deyCjcBJqWmXeVMITzn15179826421339.jpg', 'Kolluru Krishan is batch of 1972 and Patel Hall. He is Chairman Skills Council of Green Jobs &amp; Chairman CVC Biorefineries Ltd. \nLinkedIn: https://www.linkedin.com/in/kolluru-krishan-271b181a/?ppe=1', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/deyCjcBJqWmXeVMITzn15179826421339.jpg" alt="Deycjcbjqwmxevmitzn15179826421339">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Kolluru  Krishan</h4>
  <p class="text-muted karla"> Director Special Projects</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Mayur ', 'Agrawal ', ' Director Alumni Affairs', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/rDrikLfhXRXQDUFKHe15179826067217.jpg', 'Mayur is B. Tech in Chemical Engineering of 1994 batch, RP Hall. Mayur is Founder of wellness startup Transformation della Vita.\n\nLinkedIn: https://www.linkedin.com/in/amayur/', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/rDrikLfhXRXQDUFKHe15179826067217.jpg" alt="Rdriklfhxrxqdufkhe15179826067217">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Mayur  Agrawal </h4>
  <p class="text-muted karla"> Director Alumni Affairs</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Sagi S ', 'Raju', ' Director Events', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/ziDjDkxaXxdRnqsDPo15179825734190.jpg', 'Raju is B. Tech 1984, RP Hall. He is GM-Engineering at HALBIT Avionics Ltd.\nLinkedIn: https://www.linkedin.com/in/rajusagi/', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/ziDjDkxaXxdRnqsDPo15179825734190.jpg" alt="Zidjdkxaxxdrnqsdpo15179825734190">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Sagi S  Raju</h4>
  <p class="text-muted karla"> Director Events</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Subrat ', 'Panda', ' Director Sponsorships and Relationships', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/NQfgDJkQldHrysLEqdk15179825321894.jpg', 'Subrat is B Tech, 2002, CS (Azad Hall), PhD (2009) from IIT KGP. Currently working as a Principal Architect with Capillary Technologies where he drives AI across the organization. He is an avid AI and IoT enthusiast.\n\nLinkedIn: https://www.linkedin.com/in/subratpanda/', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/NQfgDJkQldHrysLEqdk15179825321894.jpg" alt="Nqfgdjkqldhrysleqdk15179825321894">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Subrat  Panda</h4>
  <p class="text-muted karla"> Director Sponsorships and Relationships</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('Anjan', 'Datta', ' Lead Startup Ecosystem', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/qftjEylPbtLSORHgJltW15179822634985.jpg', 'Anjan is MSc Geophysics from 1981 batch, RP Hall. Anjan specializes in Executive Search for Leadership Roles and Niche Skills.', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/qftjEylPbtLSORHgJltW15179822634985.jpg" alt="Qftjeylpbtlsorhgjltw15179822634985">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">Anjan Datta</h4>
  <p class="text-muted karla"> Lead Startup Ecosystem</p>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 h300">
  <div class="team-member row relative">
  <div class="col-sm-7">
  <img onclick="sendMember('MJS', 'Nandhu', ' Ex-Divisional Manager, KSB Pumps', 'https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/JytpCapPuhvlKoaafht15179724625264.jpg', 'Nandhu is B Tech from 1971 batch, Azad Hall. \nHe was also Ex General Management &amp; ISO 9000 Consultant &amp; Trainer.', '/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg')" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';" class="img-responsive img-circle" data-target="#portfolioModal1" data-toggle="modal" src="https://assets.letsendorse.com/le/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/2018/02/07/JytpCapPuhvlKoaafht15179724625264.jpg" alt="Jytpcappuhvlkoaafht15179724625264">
  </div>
  <div class="col-sm-5 left-name-team">
  <h4 class="team-member-name karla">MJS Nandhu</h4>
  <p class="text-muted karla"> Ex-Divisional Manager, KSB Pumps</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div aria-hidden="true" class="portfolio-modal modal fade" id="portfolioModal1" role="dialog" tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="close-modal" data-dismiss="modal">
  <div class="lr">
  <div class="rl"></div>
  </div>
  </div>
  <div class="container col-md-12">
  <div class="row">
  <div class="col-md-12">
  <div class="modal-body">
  <h2 id="member-name" class="karla"></h2>
  <p class="item-intro text-muted karla" id="member-designation"></p>
  <img id="profile-picture" onerror="this.onerror=null; this.src='/assets/no_user-d20b95a32ee3c68169d053fdb778573da953604bd174825d34fd06ef58b75f8a.jpg';">
  <p id="member-bio" class="karla"></p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section id="finance-main" style="background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box; color: rgb(37, 33, 33);">
  </section>
  
  </div>
  </div>
  </div>
  <footer id="multipage-footer" style="background: url(&quot;http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F55650254-226a-684c-8b28-8ac65d4392fa.png&quot;) 50% 50% / cover no-repeat scroll padding-box border-box rgba(0, 0, 0, 0); color: rgb(37, 33, 33); position: relative;">
  <div class="container footer-child" id="footer-layout-1" style="display: block;">
  <div class="row" style="margin: 10px 0;">
  <div class="col-md-12 text-center">
  </div>
  </div>
  <div class="row" style="margin: 10px 0;">
  <div class="col-md-12">
  <ul class="list-inline social-buttons">
  <li>
  <a href="https://www.letsendorse.com/ngo/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847" target="_blank" class="karla">
  <img class="svg" style="margin-top: 4px; margin-left: 4px;" height="25" crossorigin="" src="https://assets.letsendorse.com/website_builder/assets/logo_small_trans.svg" alt="Logo small trans">
  </a>
  </li>
  <li>
  <a href="//www.facebook.com/IITKGPTAAB" target="_blank" class="karla">
  <i class="fa fa-facebook"></i>
  </a>
  </li>
  </ul>
  </div>
  </div>
  <div class="row footer-logo-sitemap" style="margin: 10px 0;">
  <div class="col-md-3"></div>
  <div class="col-md-9 sitemap-container text-right">
  <a class="text-right karla" href="/sitemap.xml" target="_blank">Sitemap</a>
  </div>
  </div>
  </div>
  
  <div class="col-md-12" id="footer-fixed" style="background: #000;">
  <span class="copyright">
  All rights reserved
  2019
  <i class="fa fa-copyright"></i>
  Technology Alumni Association Nagpur
  </span>
  <p class="footer-copyright karla">
  Powered By
  <a href="https://www.letsendorse.com/Swayam-automated-website-builder-for-NGOs?ref=swayam_self" target="_blank" class="karla">
  <img class="logo" height="50" alt="Powered By LetsEndorse | Swayam" src="https://assets.letsendorse.com/website_builder/assets/swayam_footer_le_logo.png">
  </a>
  </p>
  </div>
  </footer>
  </div>
  <script>
    var customDetails = {"id":60,"theme":{"primary":"rgb(95, 122, 229)","tertiary":"rgb(148, 142, 142)","secondary":"rgb(37, 33, 33)","quaternary":"rgb(253, 253, 253)"},"font_family":{"name":"karla"},"heading_font_family":{"name":"cabin"},"heading_style":{"style":"lcircle"},"layout":{"0":{"name":"Header","section":"header","layoutNo":"multipage-header-layout-3","textColor":"rgb(95, 122, 229)","localStyle":true,"backgroundColor":"rgb(255, 255, 255) none no-repeat scroll 50% 50% / cover padding-box border-box"},"1":{"name":"Footer","section":"footer","widgets":null,"layoutNo":"footer-layout-1","textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F55650254-226a-684c-8b28-8ac65d4392fa.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"2":{"page_id":521},"3":{"page_id":522},"4":{"page_id":523},"5":{"page_id":524},"6":{"page_id":525},"7":{"page_id":526},"8":{"page_id":527},"9":{"page_id":528}},"website_id":75,"created_at":"2017-05-08T19:03:44.003Z","updated_at":"2018-04-12T06:47:48.713Z","banner_image":{"url":null},"header_hover_style":{"style":"half-line","header_dropdown":false},"updated_by":{"id":"1507998594_sQUqaLqLbuuVhxwOWbBw_15079985947331","updated":["Layout"],"updated_layout":{"difference":{"update":{"4":{"update":{"sub_sections":{"update":{"2":{"update":{"html":"\u003cdiv\u003e\u003cspan style=\"color: rgb(255, 255, 255); font-size: x-large;\"\u003e\u003cbr\u003e\u003c/span\u003e\u003c/div\u003e\u003cdiv\u003e\u003cspan style=\"color: rgb(255, 255, 255); font-size: x-large;\"\u003eLearn more about the various employment opportunities available\u003c/span\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cfont size=\"5\" color=\"#ffffff\"\u003eat organizations run by IIT Kharagpur alumni in Nagpur.\u003c/font\u003e\u003c/div\u003e\u003cdiv\u003e\u003cfont size=\"5\"\u003e\u003cbr\u003e\u003c/font\u003e\u003c/div\u003e"}}}}}}}},"old_layout":{"0":{"name":"Header","section":"header","layoutNo":"multipage-header-layout-3","textColor":"rgb(95, 122, 229)","localStyle":true,"backgroundColor":"rgb(255, 255, 255) none no-repeat scroll 50% 50% / cover padding-box border-box"},"1":{"name":"Footer","section":"footer","widgets":null,"layoutNo":"footer-layout-1","textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F55650254-226a-684c-8b28-8ac65d4392fa.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"2":{"name":"HOME","section":"home","sub_sections":{"0":{"name":"Banner","bannerText":"\u003cdiv class=\"intro-lead-in\" id=\"intro-lead-in\"\u003e\u003cspan style=\"background-color: rgb(255, 255, 255);\"\u003eCELEBRATING 67 YEARS OF EXCELLENCE\u003c/span\u003e\u003c/div\u003e\u003cdiv class=\"intro-lead-in\" id=\"intro-lead-in\"\u003e\u003cfont color=\"#ffffff\" style=\"background-color: rgb(95, 135, 255);\" size=\"6\"\u003eWELCOME TO THE ALUMNI ASSOCIATION OF IIT KHARAGPUR\u003c/font\u003e\u003c/div\u003e","bannerImage":"rgba(0, 0, 0, 0) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F0662d30d-7fad-e474-3552-42242a8fd632.jpeg\") no-repeat scroll 0px 50% / cover padding-box border-box","sub_section":"banner","bannerButtonLink":"#donate-main","bannerButtonText":"KNOW MORE ABOUT US"},"1":{"name":"TESTIMONIALS","layout":{"textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"whatPeopleSay"},"2":{"name":"IN THE NEWS","layout":{"layoutNo":"news-layout-1","textColor":"rgb(0, 0, 0)","localStyle":true,"backgroundColor":"rgb(223, 221, 221) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F30e32fc4-a81c-111f-c0d5-121b33da00ae.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"inTheNews"},"3":{"name":"ABOUT US","layout":{"layoutNo":"aboutus-x-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"aboutus"},"4":{"name":"PARTNERS","layout":{"layoutNo":"partners-x-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"partners"},"5":{"layout":{},"visibility":"hidden","sub_section":"custom-section-input"},"6":{"layout":{"localStyle":false},"visibility":"visible","sub_section":"addCustomEditableSectionHome"}}},"3":{"name":"ABOUT","section":"about","sub_sections":{"0":{"html":"\u003ch1 class=\"big-heading\"\u003e\u003cspan style=\"background-color: rgb(95, 135, 255);\"\u003e\u003cfont color=\"#ffffff\"\u003eDEDICATED TO THE SERVICE\u0026nbsp;\u003c/font\u003e\u003c/span\u003e\u003c/h1\u003e\u003ch1 class=\"big-heading\"\u003e\u003cspan style=\"background-color: rgb(95, 135, 255);\"\u003e\u003cfont color=\"#ffffff\"\u003eoF THE NATION\u003c/font\u003e\u003c/span\u003e\u003c/h1\u003e","name":"CUSTOM TEXT 1","layout":{"layoutNo":"new-section-text-layout-1","background":"rgba(0, 0, 0, 0) url(\"https://le-uploaded-image-bucket.s3.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/websites/2017/12/13/7c490806-31c0-4c92-8db0-410c15d6ba64.jpe\") no-repeat scroll 50% 50% / cover padding-box border-box"},"data_div":"about-us-custom-section-text-1","visibility":"visible","sub_section":"custom-editable-section-text-about","show_as_submenu":false},"1":{"name":"ABOUT US","layout":{"layoutNo":"aboutus-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"aboutUs"},"2":{"name":"MISSION","layout":{"layoutNo":"mission-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"mission"},"3":{"name":"VISION","layout":{"layoutNo":"vision-layout-4","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"vision"},"4":{"name":"APPROACH","layout":{"layoutNo":"approach-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"approach"},"5":{"name":"OUR STORY","layout":{"layoutNo":"hws-layout-4","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"howWeStarted"},"6":{"name":"PEOPLE BEHIND","layout":{"layoutNo":"team-layout-3","textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F8a9e5ea2-6b14-6969-8e0b-9f74cd675bc4.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"team"},"7":{"name":"FINANCIAL REPORTS","layout":{"textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"finances"},"8":{"name":"CERTIFICATES","layout":{"layoutNo":"certificates-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"certificates"},"9":{"name":"PARTNERS","layout":{"layoutNo":"partners-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"partners"},"10":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionAbout"}}},"4":{"name":"WHAT WE DO","section":"work","sub_sections":{"0":{"html":"\u003ch1 class=\"big-heading\"\u003e\u003cbr\u003e\u003c/h1\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cbr\u003e\u003c/div\u003e","name":"CUSTOM TEXT 1","layout":{"layoutNo":"new-section-text-layout-1","background":"rgba(0, 0, 0, 0) url(\"https://le-uploaded-image-bucket.s3.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/websites/2017/12/13/cff74810-2ed3-4b62-a453-866ed56f4f1c.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"data_div":"our-work-custom-section-text-1","visibility":"visible","sub_section":"custom-editable-section-text-work","show_as_submenu":false},"1":{"name":"OUR PROGRAMS","layout":{"layoutNo":"programs-layout-2","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"programs","programsSubMenu":false},"2":{"html":"\u003cdiv\u003e\u003cspan style=\"color: rgb(255, 255, 255);\"\u003e\u003cfont size=\"6\"\u003eOPPORTUNITIES\u003c/font\u003e\u003c/span\u003e\u003c/div\u003e\u003cdiv\u003e\u003cspan style=\"color: rgb(255, 255, 255); font-size: x-large;\"\u003e\u003cbr\u003e\u003c/span\u003e\u003c/div\u003e\u003cdiv\u003e\u003cspan style=\"color: rgb(255, 255, 255); font-size: x-large;\"\u003eLearn more about the various employment opportunities available\u003c/span\u003e\u003cbr\u003e\u003c/div\u003e\u003cdiv\u003e\u003cfont size=\"5\" color=\"#ffffff\"\u003eat organizations run by IIT Kharagpur alumni in Bangalore.\u003c/font\u003e\u003c/div\u003e\u003cdiv\u003e\u003cfont size=\"5\"\u003e\u003cbr\u003e\u003c/font\u003e\u003c/div\u003e","name":"OPPORTUNITIES","layout":{"layoutNo":"new-section-text-button-layout-1","background":"rgb(95, 122, 229) none no-repeat scroll 50% 50% / cover padding-box border-box"},"data_div":"our-work-custom-section-text-button-1","buttonLink":"https://drive.google.com/file/d/1C-q1G0QFMc77mib_2xgI2UEBon270fbb/view?usp=sharing","buttonText":"Opportunities","visibility":"visible","sub_section":"custom-editable-section-text-button-work","show_as_submenu":true},"3":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionWork"}}},"5":{"name":"FOOTPRINT","section":"impact","sub_sections":{"1":{"name":"OUR IMPACT","layout":{"textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"impactStories"},"2":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionImpact"}}},"6":{"name":"GALLERY","section":"gallery","sub_sections":{"0":{"name":"GALLERY","layout":{"layoutNo":"gallery-layout-2","textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F3021c01a-5907-fcb8-bbe6-bc2001fd39ee.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"gallery"},"1":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionGallery"}}},"7":{"name":"JOIN US","section":"joinus","sub_sections":{"0":{"name":"JOIN THE TEAM","layout":{"textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F7bd35b82-6f18-6d18-f941-6abbc9a49f06.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"careerOpportunities"},"1":{"html":"\u003ciframe src=\"https://docs.google.com/forms/d/e/1FAIpQLSdrCdx9gYneQ01koabWb2KzOBh1X0hglNK0tVsMF4Zh9tkq0g/viewform?embedded=true\" width=\"1440\" height=\"1000\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\"\u003eLoading...\u003c/iframe\u003e","name":"OPPORTUNITIES","layout":{"background":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"data_div":"join-us-custom-section-code-block-2","visibility":"visible","sub_section":"custom-editable-section-code-join","show_as_submenu":false},"2":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionJoinus"}}},"8":{"name":"CONTACT US","section":"contact","sub_sections":{"0":{"name":"GET IN TOUCH","layout":{"layoutNo":"contact-layout-2","textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F9244af5b-ca62-897a-301c-f119287c9455.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"contact"},"1":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionContact"}}},"9":{"name":"GIVE BACK","section":"donate","sub_sections":{"0":{"name":"BECOME A MEMBER","layout":{"textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F5422d316-fc92-319e-d681-455039ec119e.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"donate"},"1":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionDonate"}}}}}},"settings":{"right_click_disabled":false}};
    var page = {"id":522,"website_id":75,"section":"about","name":"ABOUT","sub_section":{"0":{"html":"\u003ch1 class=\"big-heading\"\u003e\u003cspan style=\"background-color: rgb(95, 135, 255);\"\u003e\u003cfont color=\"#ffffff\"\u003eDEDICATED TO THE SERVICE\u0026nbsp;\u003c/font\u003e\u003c/span\u003e\u003c/h1\u003e\u003ch1 class=\"big-heading\"\u003e\u003cspan style=\"background-color: rgb(95, 135, 255);\"\u003e\u003cfont color=\"#ffffff\"\u003eoF THE NATION\u003c/font\u003e\u003c/span\u003e\u003c/h1\u003e","name":"CUSTOM TEXT 1","layout":{"layoutNo":"new-section-text-layout-1","background":"rgba(0, 0, 0, 0) url(\"https://le-uploaded-image-bucket.s3.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847/websites/2017/12/13/7c490806-31c0-4c92-8db0-410c15d6ba64.jpe\") no-repeat scroll 50% 50% / cover padding-box border-box"},"data_div":"about-us-custom-section-text-1","visibility":"visible","sub_section":"custom-editable-section-text-about","show_as_submenu":false},"1":{"name":"ABOUT US","layout":{"layoutNo":"aboutus-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"aboutUs"},"2":{"name":"MISSION","layout":{"layoutNo":"mission-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"mission","show_as_submenu":true},"3":{"name":"VISION","layout":{"layoutNo":"vision-layout-4","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"vision","show_as_submenu":true},"4":{"name":"APPROACH","layout":{"layoutNo":"approach-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"approach","show_as_submenu":true},"5":{"name":"OUR STORY","layout":{"layoutNo":"hws-layout-4","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"howWeStarted","show_as_submenu":true},"6":{"name":"PEOPLE BEHIND","layout":{"layoutNo":"team-layout-3","textColor":"rgb(37, 33, 33)","localStyle":true,"backgroundColor":"rgba(0, 0, 0, 0) url(\"http://assets.letsendorse.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F22%2F8a9e5ea2-6b14-6969-8e0b-9f74cd675bc4.png\") no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"team","show_as_submenu":true},"7":{"name":"FINANCIAL REPORTS","layout":{"textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"visible","sub_section":"finances","show_as_submenu":true},"8":{"name":"CERTIFICATES","layout":{"layoutNo":"certificates-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"certificates"},"9":{"name":"PARTNERS","layout":{"layoutNo":"partners-layout-1","textColor":"rgb(37, 33, 33)","localStyle":false,"backgroundColor":"rgba(0, 0, 0, 0) none no-repeat scroll 50% 50% / cover padding-box border-box"},"visibility":"hidden","sub_section":"partners"},"10":{"layout":{},"visibility":"hidden","sub_section":"addCustomEditableSectionAbout"}},"is_custom":false,"url":"about-page","html_content":null,"last_updated":null,"visible":true,"meta_title":null,"meta_desc":null,"meta_img":null,"created_at":"2018-07-11T20:23:52.675Z","updated_at":"2018-07-11T20:23:52.675Z"};
    var le_plugin = {"bankDetails":[{"zip":"560038","bank_name":"State Bank of India","seller_add1":"Anjappar Chettinad Restaurant, Indiranagar, Bengaluru, Karnataka, India","seller_add2":"House 13","seller_city":"Bengaluru","seller_name":"Technology Alumni Association Nagpur","selleremail":"dhananjay.collur@gmail.com","seller_state":"KA","seller_mobile":"9845058595","seller_acc_num":"34739849180","seller_country":"India","seller_ifsc_code":"SBIN0003301"}],"otherDetails":[{"ddInstructions":"","dtInstructions":"","websiteProject":"1"}],"fcraBankDetails":[{"zip":"560038","bank_name":null,"seller_add1":"Anjappar Chettinad Restaurant, Indiranagar, Bengaluru, Karnataka, India","seller_add2":"House 13","seller_city":"Bengaluru","seller_name":"Technology Alumni Association Nagpur","selleremail":null,"seller_state":"KA","seller_mobile":null,"seller_acc_num":null,"seller_country":"India","seller_ifsc_code":null,"seller_swift_code":null}]};
    var website = {"id":75,"name":"template2","template_type":"multiPage","ngo_user_id":null,"publish_url":"http://iitkgpblr.org/","sub_domain":"taab","created_at":"2017-05-08T18:41:34.232Z","updated_at":"2018-07-21T13:00:05.942Z","ngo_id":74,"favicon":"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F9a8f9570-fb9c-a0cb-92da-349bbd5e3c82.jpeg","site_desc":"TAAB (Technology Alumni Assocation Nagpur) nurtures programmes which help bring the Alumni of IIT Kharagpur together for nation-building initiatives. We endeavor to bring alumni together for networking and leisure activities. ","keywords":null,"social_img":"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2Fe34eae92-6de1-47e6-f679-526a0c67f560.jpeg","user_id":null,"extras":{"home":[{"inthenews":true},{"aboutNgo":true}],"work":[{"programs":true},{"whatpeoplesay":true}],"about":[{"ngoHow":true},{"aboutNgo":true},{"ngoMission":true},{"ngoVision":true},{"ngoApproach":true},{"ngoTeam":true}],"impact":[{"impact_stories":true}],"contact":true,"gallery":[{"gallery":true}],"join_us":[{"carrier_opportunities":true},{"volunteer_opportunities":true}]},"site_title":"IIT Kharagpur Alumni Association Nagpur","domain":"iitkgpblr.org","analytics_tracker":null,"is_published":true,"published_till":"2019-07-14T23:05:33.236Z","language":"English","language_code":"en","version_label":"Default","is_clone":false};
    var ngo = {"id":74,"ngo_user_id":null,"api_ngo_id":"1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847","data":{"id":"1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847","year":null,"ngoHow":"With its modest beginnings as an informal group, the TAAB grew to become a focused group of Kgpians coming from different walks and generations, collaborating on various events, agendas and common objectives. Soon, the founding members realized the need to formalize the structure of the body and registered it under Karnataka Societies Act as a non-profit organization.","ngoSTD":"+91","userId":"1450400682_NtrBGngzPQEmYJowVl_14504006820711","ngoCity":"Bengaluru","ngoLogo":"20170129/dYKGvGMmVpXRZVCGIpo14856293005168.png","ngoName":"Technology Alumni Association Nagpur","orgType":"NGO","section":null,"aboutNgo":"\u003cp\u003e\u003cfont color=\"#1d2129\"\u003eTechnology Alumni Association Bengaluru (TAAB)  Nagpur Chapter of IIT-Kharagpur Alumni Association has been active for over 4 decades. We estimate that Nagpur is the home to over 4000 KGPians. Our goals are to conduct programmes for industry and government collaboration in partnership with the IIT- KGP, plan and implement nation-building initiatives in partnership with other groups and institutions, help our alumni with their startups through mentoring and incubation, bring alumni together for networking and leisure with our events, and collectively form a community of alumni in Bengaluru so that we can aspire and plan for larger initiatives together.\u0026nbsp;\u003c/font\u003e\u003c/p\u003e\u003cp\u003e\u003cfont color=\"#1d2129\"\u003eTAAB is a registered Society under Karnataka Societies Act and adheres to all statutory compliances as prescribed by the law.\u003c/font\u003e\u003cbr\u003e\u003c/p\u003e","isActive":"1","latitude":"12.9760907","ngoEmail":"madhumita.agrawal@gmail.com","ngoPhone":"9986660400, 8105669696","ngoRegNo":"BR765","ngoState":"KA","subTitle":null,"customUrl":"technology-alumni-association-Nagpur","ddAddress":null,"dtIndians":null,"longitude":"77.6410266","ngoVision":"We envision creation and sustenance of a cohesive network of Kgpians residing in and around the city of Nagpur, coming together for various activities and objectives, while rekindling the spirit of IIT Kharagpur across batches and generations.","litigation":"No","ngoCountry":"India","ngoMission":"We are on a mission to bring together the common interests of knowledge harnessing and collaborations among Kgians across several batches and foster a lively collective in Nagpur, which believes in staying in touch and giving back to the service of the alma mater.","ngoPincode":"560038","ngoRegYear":"2014","annualBuget":null,"memberTypes":["FOUNDERS","GOVERNORS","TEAM"],"ngoApproach":"\u003cp\u003eThe Technology Alumni Association, Nagpur, normally referred to as the TAA-B, is the Alumni Chapter for Nagpur, of the Graduates of the Indian Institute of Technology, Kharagpur.\u0026nbsp;\u003c/p\u003e\u003cp\u003eTAA-B has been active for 4 decades in 0rganizing meetings and get-togethers of various types: be it networking, technical meetings, industry connects, startup-mentorship, or member networking. Our goals have been to conduct programmes for members and connect them up to industry developments, startup ideas, enable networking to help coalesce ideas and put together events that would generally enable the community to be a vibrant, active and progressive support to the members and other stakeholders.\u0026nbsp;\u003cbr\u003e\u003c/p\u003e\u003cp\u003eThus it is of deep interest to us to enable active industry and government collaboration in partnership with the IIT-Kgp, enable the planning and support of activities and causes that may be critical to nation-building initiatives in some way, either independently or in partnership with other groups and institutions. At the core of this is the support that we provide to help our alumni with their startups through mentoring and incubation, bring alumni together for networking and leisure events, and collectively form a community of alumni in Bengaluru so that we can aspire and plan for larger initiatives together. We estimate that Nagpur is home to over 4,000 KGPites and of these over 2,000 are in our mailing programme..\u0026nbsp;\u003c/p\u003e\u003cp\u003eTAA-B also has a regular involvement in CSR, through its Light for Education programme. TAAB is a registered Society under Karnataka Societies Act and adheres to all statutory compliances as prescribed by the law.\u003cbr\u003e\u003c/p\u003e","dtNonIndians":null,"fundRecieved":null,"originalLogo":"20170129/dYKGvGMmVpXRZVCGIpo14856293005168.png","sectionInput":null,"totalUpdates":0,"annCurrSymbol":null,"legalIdentity":"Section 25 company","ngoCoverImage":"20170508/GoYLVvkuDTRxWeZZrE14942419255589.jpg","ngoTwitterUrl":"","ngoWebsiteUrl":"http://iitkgpblr.org/","ngoYoutubeUrl":null,"ddInstructions":"","dtInstructions":"","fundCurrSymbol":null,"ngoBlogspotUrl":"","ngoFacebookUrl":"https://www.facebook.com/IITKGPTAAB","ngoLinkedinUrl":"","ngoAddressLine1":"100 Feet Road, Defence Colony, Bengaluru, Karnataka, India","ngoAddressLine2":"House 56 (Next to Anjappar Parking)","ngoInstagramUrl":null,"syncpreferences":null,"Certificate_12_A":null,"Certificate_80_G":null,"Certificate_FCRA":null,"Certificate_35_AC":null,"swayamReferralCode":"LESW47570","litigationDescription":null,"registrationCertificate":"20170508/KRIpsboXENWhbxJXgEtb14942454423232.pdf"},"name":null,"site_title":"IIT Kharagpur Alumni Association Nagpur","site_desc":"TAAB (Technology Alumni Assocation Nagpur) nurtures programmes which help bring the Alumni of IIT Kharagpur together for nation-building initiatives. We endeavor to bring alumni together for networking and leisure activities. ","sub_domain":"taab","domain":"iitkgpblr.org","favicon":"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2F9a8f9570-fb9c-a0cb-92da-349bbd5e3c82.jpeg","social_img":"http://le-uploaded-image-bucket.s3-us-west-2.amazonaws.com/1485629481_fEHiIcDSlJdIVsiXTDe_14856294817847%2Fwebsites%2F2017%2F05%2F09%2Fe34eae92-6de1-47e6-f679-526a0c67f560.jpeg","analytics_tracker":null,"published_website_id":75,"is_published":false,"publish_url":"http://iitkgpblr.org/","trial_complete":false,"on_trial":true,"published_till":"2018-07-14T23:05:33.236Z","created_at":"2017-05-08T18:41:25.070Z","updated_at":"2018-07-19T13:33:06.133Z","extras":{"instamojo_fcra_email":"","instamojo_fcra_api_key":"","instamojo_fcra_password":"","instamojo_domestic_email":"dhananjay.collur@gmail.com","instamojo_fcra_auth_token":"","instamojo_domestic_api_key":"2df18b53e42d3fd6e5dea716bac9d85e","instamojo_domestic_password":"leswayamtaab","instamojo_domestic_auth_token":"b371f95562b53c86cc6dcecc7f1a51f5"}};
  </script>
  <script src="/assets/template2/change_page-49747428ccb62f4330acfb3877a34a4eab59490e0d8b20f23e4d4a0028352bb3.js"></script>
  <script src="/assets/template2/multipage_header-5a060ff38d3167c08f0f4766498019811a4f97c96cf5389d6d21006986c1a8c6.js"></script>
  <script src="/assets/template1/home/news-edf3e2ff9ae6b333d322df8e18784f6337ab631e1793bbcd27a8d6a01fe4d511.js"></script>
  <script src="/assets/team-b3f1a58aaaf14ff05176ccae494c40bd79f3258a27912a464ed0855c4795da88.js"></script>
  <script src="/assets/template1/about/partners-e857720f1eec9396123e6f9b291f12b5f3e4df0a4488e7b739081971bee01725.js"></script>
  <script src="/assets/template1/work/what_people_say-126d3444e751b64e80129ed8c3bb5ea5f7c1885d7553ee35ddbdf3d94536b99a.js"></script>
  <script src="/assets/template1/work/imagelistexpander-398bda7a41bb2a6ce46f06628c27ef3c60ff46d26b714cb583a32051c40db0ee.js"></script>
  <script src="https://cdn.jsdelivr.net/g/lightgallery,lg-autoplay,lg-fullscreen,lg-hash,lg-share,lg-thumbnail,lg-video,lg-zoom"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="/assets/template1/gallery/thumbnail-1e6bfcea09a9ea2a41b3556964f1621fc76f16fb73bc1017855b9501cf722f72.js"></script>
  <script src="/assets/template2/show_index_custom_details-d5e2d00a7933e870a172d222829e87baa640306e2e50ec202b3371c03660e431.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.5/linkify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.5/linkify-jquery.min.js"></script>
  <link rel="stylesheet" media="screen" href="/assets/template2/show_index_custom_details-f632d8542bbfbcb3b598b720462e186a672507ce556ce344d4f583d07a7c5562.css">
  
  <a class="hidden" href="/sitemap.xml" id="sitemap" target="_blank">Sitemap</a>
  <style>
    .verion-container {
      top: 10px;
      right: 20px;
      z-index: 9999;
      position: absolute;
      color: var(--primary);
    }
    
    .verion-container select#verion-select {
      margin-left: 3px;
      background: none;
      border-radius: 0;
      color: var(--primary);
      border: 1px solid #bbb;
    }
    
    @media only screen and (max-width: 768px) {
      .verion-container {
        padding: 10px !important;
        position: static !important;
        background: #f9f9f9 !important;
      }
    }
  </style>
  <script>
    $(document).ready(function() {
      $('#topNav').remove();
      $(".se-pre-con").fadeOut("slow");
      $('#website-content').show();
    });
    
    function redirectToVersion() {
      var redirectUrl = $('select#verion-select').val();
      window.location.href = redirectUrl;
    }
    
    function openPage(evt, pageName) {
      var menuItems = [{"name":"HOME","section":"home","page_id":521,"url":"home-page","visibility":true,"sub_sections":[]},{"name":"ABOUT","section":"about","page_id":522,"url":"about-page","visibility":true,"sub_sections":[]},{"name":"WHAT WE DO","section":"work","page_id":523,"url":"whatwedo-page","visibility":true,"sub_sections":[]},{"name":"FOOTPRINT","section":"impact","page_id":524,"url":"footprint-page","visibility":true,"sub_sections":[]},{"name":"GALLERY","section":"gallery","page_id":525,"url":"gallery-page","visibility":true,"sub_sections":[]},{"name":"JOIN US","section":"joinus","page_id":526,"url":"joinus-page","visibility":true,"sub_sections":[]},{"name":"CONTACT US","section":"contact","page_id":527,"url":"contactus-page","visibility":true,"sub_sections":[]},{"name":"GIVE BACK","section":"donate","page_id":528,"url":"giveback-page","visibility":true,"sub_sections":[]}];
      for(var i = 0; i < menuItems.length; i++) {
        if(menuItems[i].section === pageName) window.location.pathname = '/' + menuItems[i].url;
      }
    }
  </script>
  
  </div>
  
  
  </body></html>